USE [resources]
GO
/****** Object:  Table [dbo].[encodings]    Script Date: 2/19/2024 7:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encodings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[session_id] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[symbol_replaces]    Script Date: 2/19/2024 7:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[symbol_replaces](
	[symbol_id] [int] NOT NULL,
	[replace_code] [int] NOT NULL,
 CONSTRAINT [pk_sr] PRIMARY KEY CLUSTERED 
(
	[symbol_id] ASC,
	[replace_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[symbols]    Script Date: 2/19/2024 7:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[symbols](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[freq] [float] NOT NULL,
	[encoding_id] [int] NOT NULL,
	[session_id] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_sessions]    Script Date: 2/19/2024 7:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_sessions](
	[id] [varchar](36) NOT NULL,
	[original_text] [varchar](max) NULL,
	[changed_text] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[encodings] ON 

INSERT [dbo].[encodings] ([id], [name], [session_id]) VALUES (7, N'ASCII', NULL)
INSERT [dbo].[encodings] ([id], [name], [session_id]) VALUES (8, N'UTF8', NULL)
SET IDENTITY_INSERT [dbo].[encodings] OFF
GO
INSERT [dbo].[symbol_replaces] ([symbol_id], [replace_code]) VALUES (1, 1841)
INSERT [dbo].[symbol_replaces] ([symbol_id], [replace_code]) VALUES (1, 1842)
INSERT [dbo].[symbol_replaces] ([symbol_id], [replace_code]) VALUES (1, 1843)
GO
SET IDENTITY_INSERT [dbo].[symbols] ON 

INSERT [dbo].[symbols] ([id], [code], [freq], [encoding_id], [session_id]) VALUES (1, 65, 0.0855, 7, NULL)
INSERT [dbo].[symbols] ([id], [code], [freq], [encoding_id], [session_id]) VALUES (2, 66, 0.016, 7, NULL)
INSERT [dbo].[symbols] ([id], [code], [freq], [encoding_id], [session_id]) VALUES (3, 67, 0.0316, 7, NULL)
GO
SET IDENTITY_INSERT [dbo].[symbols] OFF
GO
/****** Object:  Index [IQ_params]    Script Date: 2/19/2024 7:03:00 PM ******/
ALTER TABLE [dbo].[symbols] ADD  CONSTRAINT [IQ_params] UNIQUE NONCLUSTERED 
(
	[code] ASC,
	[freq] ASC,
	[encoding_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[encodings]  WITH CHECK ADD  CONSTRAINT [fk_encodings_session_id] FOREIGN KEY([session_id])
REFERENCES [dbo].[user_sessions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[encodings] CHECK CONSTRAINT [fk_encodings_session_id]
GO
ALTER TABLE [dbo].[symbol_replaces]  WITH CHECK ADD  CONSTRAINT [fk_sr_symbol_id] FOREIGN KEY([symbol_id])
REFERENCES [dbo].[symbols] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[symbol_replaces] CHECK CONSTRAINT [fk_sr_symbol_id]
GO
ALTER TABLE [dbo].[symbols]  WITH CHECK ADD  CONSTRAINT [fk_symbols_encoding_id] FOREIGN KEY([encoding_id])
REFERENCES [dbo].[encodings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[symbols] CHECK CONSTRAINT [fk_symbols_encoding_id]
GO
ALTER TABLE [dbo].[symbols]  WITH CHECK ADD  CONSTRAINT [fk_symbols_session_id] FOREIGN KEY([session_id])
REFERENCES [dbo].[user_sessions] ([id])
GO
ALTER TABLE [dbo].[symbols] CHECK CONSTRAINT [fk_symbols_session_id]
GO
/****** Object:  Trigger [dbo].[tg1]    Script Date: 2/19/2024 7:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[tg1] on [dbo].[user_sessions] instead of delete as 
begin

declare @u_id varchar(36);
declare db_cursor cursor for select id from deleted;
open db_cursor
fetch next from db_cursor into @u_id;
while (@@FETCH_STATUS = 0)
begin
delete from symbols where session_id = @u_id;
delete from user_sessions where id =@u_id;

fetch next from db_cursor into @u_id;
end;
close db_cursor;

end;
GO
ALTER TABLE [dbo].[user_sessions] ENABLE TRIGGER [tg1]
GO
